.button {
    border: none;
    background: #FFDD1F;
    color: #373737;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    height: 50px;
    width: 100%;

    transition-duration: .5s;
}

.button:hover {
    box-shadow: var(--box-shadow);
}