.button-container {
    color: var(--color-dark-grey);
    cursor: pointer;
}

.button {
    background-color: var(--color-yellow);
    font-size: 1rem;
    transition-duration: var(--transition-duration-half);
}

a.button {
    text-align: center;
    padding: 1rem 0;
    display: block;
    text-decoration: none;
}

.button:hover {
    box-shadow: var(--box-shadow);
}

a.button:hover {
    text-decoration: none;
}