.about-us-panel {
    background: #FFFFFF;
    color: #333333;
}

.about-us-container .image img {
    max-height: 100%;
    max-width: 100%;
}

.about-us-container .content {
    padding: 0 1rem;
}

.about-us-container .content h2 {
    font-weight: 500;
}

.about-us-container .content p {
    font-size: 1.2rem;
}