.about-us-panel {
}

.about-us-panel .text-container {
    line-height: 1.8rem;
    color: var(--color-dark-grey);
}

.about-us-container .image-container {
    border-radius: .75rem;
}

.about-us-container .image-container img {
    max-height: 100%;
    max-width: 100%;
    border-radius: .75rem;
}

.about-us-container .content {
    padding: 0 1rem;
}

.about-us-container .content h2 {
    font-weight: 500;
}

.about-us-container .content p {
    font-size: 1.2rem;
}