.about-us-panel {
    background: #FFFFFF;
    color: #333333;
}

.about-us-container {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.about-us-container .image {
    height: 100%;
    width: 100%;}

.about-us-container .image img {
    height: 100%;
    width: 100%;
}

.about-us-container .content {
    padding: 2vw 4vw;
    height: 100%;
    width: 100%;
}

.about-us-container .content p {
}

.about-us-container .content h2 {
    font-weight: 500;
}

.about-us-container .content p {
    font-size: 1.2rem;
}