.about-us {
    min-height: 50vh;
    background: #FFFFFF;
    color: #333333;
}

.about-us-container {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.about-us-container .image img {
    height: 100%;
    width: 100%;
}

.about-us-container .content {
    padding: 50px;
    background: #F9F9F9;
    min-height: 100%;
    min-width: 100%;
}

.about-us-container .content h2 {
    font-weight: 500;
}

.about-us-container .content p {
    font-size: 18px;
}