.documents-panel {
    padding: 6rem 0;
    background: var(--color-yellow);
    color: var(--color-dark);
}

.documents-panel img {
    min-width: 100%;
    margin-bottom: 1.5rem;
}

.documents-panel p {
    line-height: 1.8;
}