.app-header {
    background-image: url("assets/header-photo.png");
    min-height: 100vh;
    color: var(--color-white);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 601px) {
    .app-header h1.tinos {
        margin-top: 10vh;
        margin-bottom: 1vh;
        font-size: 6.5rem;
        line-height: .9;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .app-header h1.tinos {
        margin-top: 10vh;
        margin-bottom: 1vh;
        font-size: 4rem;
        line-height: .9;
    }
}

@media screen and (min-width: 601px) {
    header span.title {
        font-size: 4rem;
        font-weight: bold;
    }

    header .navbar-brand {
        color: inherit;
        font-weight: bold;
        font-size: 2.25rem;
    }

    header .content {
        margin-top: 20vh;
    }

    header .nav-link {
        /*color: var(--color-white) !important;*/
        font-size: 1rem;
        font-weight: normal;
        margin-left: 4rem;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    header span.title {
        font-size: 2rem;
        font-weight: bold;
    }

    header .navbar-brand {
        color: inherit;
        font-weight: bold;
        font-size: 2rem;
    }

    header .content {
        padding-top: 5vh;
    }

    header .nav-link {
        /*color: var(--color-white) !important;*/
        font-size: 1.2rem;
        font-weight: normal;
    }
}

.app-header .header-paragraph p {
    font-size: 1.2rem;
}