.footer {
}

.footer .footer-content {
}

.footer .footer-content .logo {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.footer .item {
    margin-top: 1.5rem;
}

.footer .icon {
    display: inline-block;
}

.footer .icon img {
    max-width: 2.25rem;
    margin-right: .5rem;
}

.footer .icon svg {
    max-width: 2.25rem;
    margin-right: .5rem;
}

.footer footer {
    padding: 4rem 0;
    color: white;
    background-color: var(--color-dark-grey);
}

.footer .phone-link:first-child {
    margin-bottom: .25rem;
}

