.app-header {
    background-image: url("./header-photo.png");
    min-height: 100vh;
    color: white;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 601px) {
    .app-header h1.tinos {
        margin-top: 10vh;
        margin-bottom: 1vh;
        font-size: 6.5rem;
        line-height: .9;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    .app-header h1.tinos {
        margin-top: 10vh;
        margin-bottom: 1vh;
        font-size: 4rem;
        line-height: .9;
    }
}

.navbar .container-fluid {
    /*padding: 0;*/
}

.navbar-nav > li {
    /*margin-left: 40px;*/
    /*margin-right: 40px;*/
}

.navbar-nav > li > a {
    font-weight: 300;
}

.app-header .header-paragraph {
    /*margin-top: 10px;*/
}
.app-header .button {
    /*margin-top: 36px;*/
}

.app-header .header-paragraph p {
    font-size: 1.2rem;
}