.app-header {
    background-image: url("./header-photo.png");
    min-height: 100vh;
    color: white;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*font-size: calc(10px + 2vmin);*/
}

.app-header h1.tinos {
    margin-top: 10vh;
    margin-bottom: 10px;
    font-size: 96px;
    line-height: .9;
}

.navbar-nav > li {
    margin-left: 40px;
    margin-right: 40px;
}

.navbar-nav > li > a {
    font-size: 16px;
    font-weight: 300;
}

.app-header .header-paragraph {
    margin-top: 10px;
}
.app-header .button {
    margin-top: 36px;
}

.app-header .header-paragraph p {
    font-size: 18px;
}

/*.navbar.transparent.navbar-inverse .navbar-inner {*/
/*    border-width: 0px;*/
/*    -webkit-box-shadow: 0px 0px;*/
/*    box-shadow: 0px 0px;*/
/*    background-color: rgba(0,0,0,0.0);*/
/*    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));*/
/*    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);*/
/*    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);*/
/*}*/