.app-header {
    background-image: url("./header-photo.png");
    min-height: 100vh;
    color: white;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

.app-header h1.tinos {
    margin-top: 10vh;
    margin-bottom: 1vh;
    font-size: 5rem;
    line-height: .9;
}

.navbar .container-fluid {
    padding: 0;
}

.navbar-nav > li {
    margin-left: 40px;
    margin-right: 40px;
}

.navbar-nav > li > a {
    font-size: 16px;
    font-weight: 300;
}

.app-header .header-paragraph {
    margin-top: 10px;
}
.app-header .button {
    margin-top: 36px;
}

.app-header .header-paragraph p {
    font-size: 18px;
}