.app-footer {
    background-color: var(--color-yellow);
}

.app-footer footer {
    color: white;
    background-color: var(--color-dark);
}

.app-footer span {
    display: block;
}

.app-footer .social-icons a {
    display: inline-block;
    cursor: pointer;
}

.app-footer .social-icons a img {
    max-width: 2.25rem;
}

.app-footer .list span {
    margin-bottom: .5rem;
}

